{
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracket-same-line": false,
  "printWidth": 150,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "single-attribute-per-line": false
}
